*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","san-serif";
}
/* https://cdn.pixabay.com/photo/2022/12/26/11/37/bitcoin-7678812_1280.jpg */
.authContainer{
  background-image: url("/public/crypto-7678815_1920.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.bgBlure{
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  backdrop-filter: blur(10px);
}
h1 {
  text-align: center; /* Center the text horizontally */
  margin: 0; /* Remove default margin */
  color: white; /* Ensure the text is visible */
}


  
 
     
